<head>
    <title><%=title%></title>
    <meta property="og:title" content="<%=title%>" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="http://www.domain-secured.com/images/<%=traffic%>" />
    <meta name="subject" content="ASSURE LINK">
    <meta name="pagename" content="ASSURE LINK">

    <!-- <link rel="prefetch" href="http://red.powersms.land/images/house.jpg"> -->
    <!-- <meta property="og:url" content="http://euro-travel-example.com/index.htm"> -->
  
    <meta http-equiv="refresh" content="1;<%=redirectLink%>" />
  </head>
  <body>

    <!--Any html message you want to show to people while they wait the 2 seconds for the redirection.
  
  Can use an image here or a gif. Can be the same image as above with text on it saying loading your offer now or something.
  
  <img src="./images/prefetch1.jpg" /> -->
  
  </body>
  